@font-face {
    font-family: 'tekturregular';
    src: url('tekturregularwebfont.woff2') format('woff2'),
         url('tekturregularwebfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}



body {
    font-family: tekturregular;
    background: linear-gradient(93deg, #ebe9e4 0%, #3e3a14 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: rgb(235, 97, 23);
}

.navbar-nav .nav-link.active {
    color: rgba(221, 214, 214, 0.326);
}

.navbar-brand img {
    width: 60px;
}

.navbar-toggler {
    background-color: rgb(71, 69, 67);
}

.sidbar {
    border-radius: 10px;
    color: rgb(93, 37, 6);
    background: linear-gradient(93deg, #615a48 0%, #3e3a1455 100%);
}

.card {
    border-radius: 10px;
    color: hwb(35 7% 37%);
    background: linear-gradient(93deg, #615a48 0%, #3e3a1458 100%);
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.card img {
    width: 100%;
    height: 450px;
}


.present img {
    border-radius: 10px;
    width: 600px;
    height: 500px;
    

}

.noun {
    color: aquamarine;
    /* background: linear-gradient(270deg, #14147d 0%, #0c024a 100%); */
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #a27b344e 0%, #3e3a1452 100%);
}

.footer-text {
    text-decoration: none;
    color: aquamarine;
    margin: auto auto; 
}

.call-anim {
    animation: call 3s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
